---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.other-notes {
  margin-top: $spacing-unit * 2;
  padding-top: $spacing-unit;
  border-top: 1px solid $grey-color-light;

  h2 {
    font-size: 1rem;
    color: $grey-color;
    margin-bottom: $spacing-unit / 2;
  }

  ul {
    margin-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: $spacing-unit / 4;
  }
}
